{% extends "index.html" %}

{% block content %}
<h1>Plot Page</h1>

<div id='current_price' class='current_price'>
  <table>
    <tr><th>Current Price</th><th>Buy/Sell</th></tr>
    <tr><td>{{ last_price }}</td><td style="color:{{ buy_sell[1] }}">{{ buy_sell[0] }}</td></tr>
  </table>
</div>


<div id='article_titles' class='text'>
  <ul>
  {% for title, url in link_dict.items() %}
    <li>
      <a href={{ url[0] }}>
        {{ title }}
      </a>
      <ul>
        <li>
          {{ url[1] }}
        </li>
      </ul
      </li>
    <br>
  {% endfor %}
  </ul>
</div>
<div>  
  <a id="refeshButton" class="btn btn-primary bg-primary-emphasis" role="button" href={{ url_for('optimization_refresh', symbol=symbol) }}>Refresh Data</a>
</div>
<div class="table-dark table-striped-columns">
  {{ facts_table | safe }}
</div>
<div id='chart' class='chart'”>

</div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

{% endblock %}