{% extends "index.html" %}

{% block content %}
<h1>Plot Page</h1>
  
<div id='article_titles' class='text'>
  <ul>
  {% for title, url in link_dict.items() %}
    <li>
      <a href={{ url[0] }}>
        {{ title }}
      </a>
      <ul>
        <li>
          {{ url[1] }}
        </li>
      </ul
      </li>
    <br>
  {% endfor %}
  </ul>
</div>
<a href={{ url_for('optimization_refresh', symbol=symbol) }}><input type="button" value="Refresh Data"></a>
<div>
  {{ facts_table | safe }}
</div>
<div id='chart' class='chart'”>

</div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

{% endblock %}